<a href="https://colab.research.google.com/github/DataMinati/Super-Notebooks-1K/blob/main/Soil_Fertility_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import  pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB  
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn import tree
from sklearn.svm import SVC

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/MainakRepositor/Datasets-/master/soildataset.csv',error_bad_lines=False)
dataset.head()

   Id  Nitrogen  ...  Content of Phosphorous  Content of Potassium
0   1      3.67  ...                     Low                  High
1   2      3.99  ...                     Low                  High
2   3      4.31  ...                     Low                   Low
3   4      3.53  ...                     Low                  High
4   5      3.56  ...                     Low                  High

[5 rows x 7 columns]

In [3]:
r,c = dataset.shape
print("Number of rows = ",r)
print("Number of columns = ",c)

Number of rows =  150
Number of columns =  7

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      150 non-null    int64
 1   Nitrogen                150 non-null    float64
 2   Phosphorous             150 non-null    float64
 3   Potassium               150 non-null    float64
 4   Content of Nitrogen     150 non-null    object
 5   Content of Phosphorous  150 non-null    object
 6   Content of Potassium    150 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 8.3+ KB

In [6]:
Nitrogen=pd.DataFrame()
Nitrogen['Value']=dataset['Nitrogen']
Nitrogen['Label_Nitrogen']=LabelEncoder().fit_transform(dataset['Content of Nitrogen'])

Phosphorous=pd.DataFrame()
Phosphorous['Value']=dataset['Phosphorous']
Phosphorous['Label_Phosphorous']=LabelEncoder().fit_transform(dataset['Content of Phosphorous'])

Potassium=pd.DataFrame()
Potassium['Value']=dataset['Potassium']
Potassium['Label_Potassium']=LabelEncoder().fit_transform(dataset['Content of Potassium'])

In [7]:
X = dataset.iloc[:,:-3].values
y = Nitrogen.iloc[:,-1].values

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [11]:
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [13]:
y_naive = model.predict(X_test)
ac = accuracy_score(y_test, y_naive)
cm = confusion_matrix(y_test, y_naive)
print('Accuracy for Naive Bayes is: ',ac)

Accuracy for Naive Bayes is:  0.7

In [15]:
rf = RandomForestClassifier(random_state=1)
# Train the model on training data
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [16]:
predictions = rf.predict(X_test)
rf.score(X_test,predictions)

1.0

In [18]:
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std =sc.fit_transform(X_test)

In [20]:
y_train_std=y_train
classifier = DecisionTreeClassifier(criterion = 'entropy',random_state= 0)
classifier.fit(X_train_std,y_train_std)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [21]:
y_pred = classifier.predict(X_test_std)

In [23]:
cm = confusion_matrix(y_test, y_pred)
print("Accuracy for Decision Tree:",accuracy_score(y_test, y_pred))

Accuracy for Decision Tree: 0.8

In [24]:
text_representation = tree.export_text(classifier)
print(text_representation)

|--- feature_1 <= 0.36
|   |--- feature_1 <= -0.63
|   |   |--- feature_0 <= 1.07
|   |   |   |--- class: 1
|   |   |--- feature_0 >  1.07
|   |   |   |--- class: 2
|   |--- feature_1 >  -0.63
|   |   |--- class: 2
|--- feature_1 >  0.36
|   |--- class: 0

In [25]:
svm = SVC(kernel='rbf')
svm.fit(X_train_std, y_train)
svm_pred=svm.predict(X_test_std)

In [26]:
print('Accuracy for SVM is : {:.2f}'.format(svm.score(X_test_std, y_test)))

Accuracy for SVM is : 0.97

In [28]:
print("Decision Tree:")
print(classification_report(y_test,y_pred))
print("Naive Bayes:")
print(classification_report(y_test,y_naive))
print("Random Forest:")
print(classification_report(y_test, predictions))
print("Support Vector Machine:")
print(classification_report(y_test, svm_pred))

Decision Tree:
              precision    recall  f1-score   support

           0       0.45      1.00      0.62         5
           1       1.00      1.00      1.00         4
           2       1.00      0.71      0.83        21

    accuracy                           0.80        30
   macro avg       0.82      0.90      0.82        30
weighted avg       0.91      0.80      0.82        30

Naive Bayes:
              precision    recall  f1-score   support

           0       0.80      0.80      0.80         5
           1       0.17      0.25      0.20         4
           2       0.84      0.76      0.80        21

    accuracy                           0.70        30
   macro avg       0.60      0.60      0.60        30
weighted avg       0.75      0.70      0.72        30

Random Forest:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         4
           2       1.00      1.00      1.00        21

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

Support Vector Machine:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       0.80      1.00      0.89         4
           2       1.00      0.95      0.98        21

    accuracy                           0.97        30
   macro avg       0.93      0.98      0.95        30
weighted avg       0.97      0.97      0.97        30