<a href="https://colab.research.google.com/github/DataMinati/Super-Notebooks-1K/blob/main/Song_Popularity_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_train = pd.read_csv('https://raw.githubusercontent.com/MainakRepositor/Datasets-/master/song_popularity_S5Fold.csv',error_bad_lines=False)
df_train.head()

   id  song_duration_ms  acousticness  ...  audio_valence  song_popularity  kfold
0   0          212990.0      0.642286  ...       0.734642                0      4
1   1               NaN      0.054866  ...       0.711531                1      3
2   2          193213.0           NaN  ...       0.425536                0      1
3   3          249893.0      0.488660  ...       0.453597                0      0
4   4          165969.0      0.493017  ...       0.741311                0      0

[5 rows x 16 columns]

In [4]:
df_train.song_popularity.value_counts(normalize =True)

0    0.6356
1    0.3644
Name: song_popularity, dtype: float64

In [5]:
df_train['kfold'] = -1

In [6]:
# Preparing data as a tabular matrix
y_train = df_train.song_popularity
X_train = df_train.drop('song_popularity', axis=1)
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=7)
for fold, (train_indicies, valid_indicies) in enumerate(skf.split(X_train,y_train )):
    df_train.loc[valid_indicies, "kfold"] = fold
df_train.to_csv("song_popularity_S5Fold.csv", index=False)

In [7]:
df_train['kfold'].value_counts()

4    8000
3    8000
2    8000
1    8000
0    8000
Name: kfold, dtype: int64

In [8]:
print("Ratio of song_popularity labels (whole dataset)")
df_train.song_popularity.value_counts(normalize = True)
print()
for fold in range(5):
    print(f"Ratio of song_popularity labels (fold number: {fold})")
    display(df_train[df_train['kfold'] == fold]['song_popularity'].value_counts(normalize =True))
    print()

Ratio of song_popularity labels (whole dataset)

Ratio of song_popularity labels (fold number: 0)

0    0.635625
1    0.364375
Name: song_popularity, dtype: float64

Ratio of song_popularity labels (fold number: 1)

0    0.635625
1    0.364375
Name: song_popularity, dtype: float64

Ratio of song_popularity labels (fold number: 2)

0    0.635625
1    0.364375
Name: song_popularity, dtype: float64

Ratio of song_popularity labels (fold number: 3)

0    0.635625
1    0.364375
Name: song_popularity, dtype: float64

Ratio of song_popularity labels (fold number: 4)

0    0.6355
1    0.3645
Name: song_popularity, dtype: float64